@model IEnumerable<Computer>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            @Html.DisplayFor(modelItem => item.Model)
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">BRAND: @Html.DisplayFor(modelItem => item.Brand)</li>
            <li class="list-group-item">PRICE: @Html.DisplayFor(modelItem => item.Price)</li>
        </ul>
    </div>
}